*.pyc
*/config.yaml
**/.zip
**/client_secrets.json
**/credentials.json
**/.idea/**
**/venv/**
**/.suo
**/.pyproj
**/.sln
**/calendar.dat
*.pyo
python/data.json
python/push_data_to_google_sheets/client_secret.json
python/push_data_to_google_sheets/jareddev-206516-5f3eeac597bd.json
python/falcon_dba_info/whois_data/urls_not_in_falcon.csv
python/parse_ddl/config.yaml
python/get_recent_10_logins/data/all_data.csv
python/get_recent_10_logins/data/individual_files/abbottdev.mdsol.com.csv
python/get_recent_10_logins/data/individual_files/abbottvascular.mdsol.com.csv
python/checking_analysis/checking_data_cleaned.csv
python/checking_analysis/checking_data_raw.csv
python/checking_analysis/vendor_translations_categories_raw.csv
python/sql_job_history_visualization/job_history_example.csv
python/sql_job_history_visualization/job_history_example2.csv
python/sql_job_history_visualization/job_history_example4.csv
python/sql_job_history_visualization/job_history_example3.csv
